.banner {
    width: 100%;
    min-width: 1200px;
    height: 424px;
}
.banner > img {
    width: 100%;
    min-width: 1200px;
    height: 424px;
}
.headline {
    width: 100%;
    min-width: 1200px;
    height: 61px;
    line-height: 61px;
    border-bottom: 1px solid #e6e6e6;
}
.headline > .inner {
    width: 1200px;
    margin: 0 auto 0px;
    overflow: hidden;
}
.headline > .inner > div {
    border-left: 1px solid #e6e6e6;
    float: left;
}
.headline > .inner > div:nth-child(3){
    border-right: 1px solid #e6e6e6;
}
.headline > .inner > div.home {
    width: 62px;
    height: 61px;
    text-align: center;
}
.headline > .inner > div.home > img {
    width: 22px;
    height: 20px;
}
.headline > .inner > div.page {
    width: 160px;
    text-align: center;
    font-size: 14px;
}
.headline > .inner > div.page > a {
    width: 160px;
    height: 61px;
    display: block;
    color: inherit;
    font-size: inherit;
}
.intro {
    width: 100%;
    min-width: 1200px;
}
.intro > .title {
    width: 1200px;
    padding: 52px 0px 42px;
    margin: 0 auto 0;
    text-align: center;
}
.intro > .title > p {
    font-size: 26px;
}
.intro > .img {
    width: 1200px;
    height: 760px;
    margin: 0 auto 0px;
    overflow: hidden;
}
.intro > .img > img {
    width: 1200px;
    height: 760px;
    float: left;
}
#swipe > .swiper-pagination > .swiper-pagination-bullet {
    width: 38px;
    height: 3px;
    border: 1px solid #fff;
    border-radius: 0px;
    margin: 0 2px;
}
.introduce {
    width: 100%;
    min-width: 1200px;
}
.introduce > .title {
    width: 1200px;
    padding: 44px 0px 35px;
    margin: 0 auto 0px;
    border-bottom: 1px solid #e6e6e6;
}
.introduce > .title > img {
    vertical-align: middle;
    margin-right: 16px;
}
.introduce > .title > span {
    vertical-align: middle;
    font-size: 28px;
    color: #333;
}
.introduce > .content {
    width: 1200px;
    margin: 33px auto 72px;
}
.introduce > .content > p {
    font-size: 16px;
    line-height: 30px;
    color: #333;
}


