.banner {
    width: 100%;
    min-width: 1200px;
    height: 424px;
}
.banner > img {
    width: 100%;
    min-width: 1200px;
    height: 424px;
}
.headline {
    width: 100%;
    min-width: 1200px;
    height: 61px;
    line-height: 61px;
    border-bottom: 1px solid #e6e6e6;
}
.headline > .inner {
    width: 1200px;
    margin: 0 auto 0px;
    overflow: hidden;
}
.headline > .inner > div {
    border-left: 1px solid #e6e6e6;
    float: left;
}
.headline > .inner > div:nth-child(3){
    border-right: 1px solid #e6e6e6;
}
.headline > .inner > div.home {
    width: 62px;
    height: 61px;
    text-align: center;
}
.headline > .inner > div.home > img {
    width: 22px;
    height: 20px;
}
.headline > .inner > div.page {
    width: 160px;
    text-align: center;
    font-size: 14px;
}
.headline > .inner > div.page > a {
    width: 160px;
    height: 61px;
    display: block;
    color: inherit;
    font-size: inherit;
}
.intro {
    width: 100%;
    min-width: 1200px;
}
.intro > .title {
    width: 1200px;
    padding: 63px 0px 40px;
    margin: 0 auto 0;
    margin-bottom: 33px;
    border-bottom: 1px solid #333;
    text-align: center;
}
.intro > .title > p {
    font-size: 40px;
}
.intro > .items {
    width: 1200px;
    padding-bottom: 63px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 auto 0px;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
}
.intro > .items > .item {
    width: 360px;
    margin-top: 50px;
}
.intro > .items > .item:nth-child(1) {
    margin-top: 0px;
}
.intro > .items > .item:nth-child(2) {
    margin-top: 0px;
}
.intro > .items > .item:nth-child(3) {
    margin-top: 0px;
}
.intro > .items > .item > a {
    width: 100%;
    height: 100%;
    display: block;
}
.intro > .items > .item > img {
    width: 360px;
    height: 228px;
    margin-bottom: 28px;
}
.intro > .items > .item > p {
    font-size: 20px;
    color: #333;
    text-align: left;
}
.intro > .items > .item > a > img {
    width: 360px;
    height: 228px;
    margin-bottom: 28px;
}
.intro > .items > .item > a > p {
    font-size: 20px;
    color: #333;
    text-align: left;
}
/* 分页器 */
#htmleaf-container {
    text-align: center;
    margin: 70px auto 169px;
}
.paginationjs .paginationjs-pages {
    margin: 0 auto 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
