.banner {
    width: 100%;
    min-width: 1200px;
    height: 424px;
}
.banner > img {
    width: 100%;
    min-width: 1200px;
    height: 424px;
}
.headline {
    width: 100%;
    min-width: 1200px;
    height: 61px;
    line-height: 61px;
    border-bottom: 1px solid #e6e6e6;
}
.headline > .inner {
    width: 1200px;
    margin: 0 auto 0px;
    overflow: hidden;
}
.headline > .inner > div {
    border-left: 1px solid #e6e6e6;
    float: left;
}
.headline > .inner > div:nth-child(3){
    border-right: 1px solid #e6e6e6;
}
.headline > .inner > div.home {
    width: 62px;
    height: 61px;
    text-align: center;
}
.headline > .inner > div.home > img {
    width: 22px;
    height: 20px;
}
.headline > .inner > div.page {
    width: 160px;
    text-align: center;
    font-size: 14px;
}
.headline > .inner > div.page > a {
    width: 160px;
    height: 61px;
    display: block;
    color: inherit;
    font-size: inherit;
}
.intro > .title {
    width: 1200px;
    text-align: center;
    margin: 0 auto 0px;
}
.intro > .title > p {
    border-bottom: 2px solid #333;
    font-size: 40px;
    color: #444;
    padding-bottom: 33px;
    margin: 63px 0px 28px;
}
.intro > .show {
    width: 1200px;
    margin: 0 auto 0px;
    overflow: hidden;
}
.intro > .show > .fl {
    width: 570px;
    border-right: 1px solid #e6e6e6;
    margin-left: 41px;
}
.intro > .show > .fl > img {
    width: 570px;
    height: 502px;
}
.intro > .show > .fr {
    width: 526px;
    text-align: left;
    float: left;
    margin-left: 62px;
}
.intro > .show > .fr > p {
    font-size: 14px;
    color: #444;
    margin-top: 30px;
}
.intro > .show > .fr > p.name {
    font-size: 28px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 31px;
    margin-top: 78px;
}
.information {
    margin: 95px 0px 37px;
}
.information > .title {
    width: 1200px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 35px;
    margin: 0 auto 0px;
}
.information > .title > img {
    vertical-align: middle;
    margin-right: 16px;
}
.information > .title > span {
    vertical-align: middle;
    font-size: 28px;
    color: #333;
}
.information > .content{
    width: 1200px;
    margin: 37px auto 0px;
}
.information > .content > p {
    font-size: 16px;
    color: #444;
    margin-top: 30px;
}
.information > .content > p:nth-child(1) {
    margin-top: 0px;
}
.information > .company {
    width: 1200px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 65px;
    margin: 30px auto 0px;
}
.information > .company > p {
    font-size: 16px;
    color: #444;
    margin-top: 30px;
}
.information > .company > p:nth-child(1) {
    margin-top: 0px;
}
.switch {
    width: 1200px;
    text-align: left;
    margin: 61px auto 87px;
}
.switch > h1 {
    font-size: 18px;
    margin: 0px 0px 25px;
}
.switch > div.next {
    margin-top: 30px;
}
.switch > div > a {
    font-size: 14px;
    color: #666;
}
